body {
    font-family: 'Montserrat';;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #111;
    color: #ddd;
}

header {
    background-color: black; /* Altera a cor do header para preto */
    color: #ddd;
    padding: 0px 0; /* Reduz ainda mais o padding no topo e na parte inferior */
}


.logo {
    width: 30%;
    display: block;
    margin: 0 auto; /* Centraliza a logo */
}

/* Estilização do LOGOTIPO */
.logo_caixa {
    width: 800px;
    position: relative;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #ddd;
    position: relative;
}

nav a:hover {
    border: 1px solid red;
    padding: 4px;
    border-radius: 4px;
}

.titulo-separador {
    text-align: center;
    margin: 20px 0;
}

.titulo-separador h2 {
    margin-bottom: 10px;
}

hr {
    border: 1px solid #111;
}

.excel-table {
    width: 60%;
    margin: 0 auto; /* Centraliza a tabela */
    border-collapse: collapse;
    margin-top: 20px;
}

.excel-table th, .excel-table td {
    border: 1px solid #444;
    padding: 8px;
    text-align: left;
    color: #ddd;
}

.excel-table th {
    background-color: #333;
}

/* Adicionando valores na coluna do total */
.excel-table td:nth-child(6) {
    font-weight: bold;
    color: red;
}

#filtrar-tabela {
    width: 19.5%;
    height: 35px;
    margin-bottom: 10px;
    background-color: #333;
    color: #ddd;
    border: none;
    padding: 5px;
}
